*{ margin:0; padding:0;}
body
{
	background-color: #36d7b6;
	color:white;
	font-family: 'Share Tech', sans-serif;
	font-size:240%;
}

form,input,select,textarea{margin:0; padding:0; color:#ffffff;}

fieldset
{
	margin:0 auto;
	width:75%;
	position:relative;
	top:50px;
	border:none;
}

fieldset label
{
	display: block;
	width:100%;
	margin-top: 15px;
}

fieldset label span
{
	clear:both;
	display: block;
	float:left;
	text-align:right;
	width: 50%;
}

fieldset input
{	margin-left:5%;
	padding:10px 10px;
	color:grey;
	font-size:100%;
	width:30%;
	position:relative;
	background:white;

	border: 1px solid #ccc;

}

#src, #author
{
	clear:both;
	font-size: 50%;
	margin: auto;
	margin-top: 20px;
	width:100%;
	text-align: center;
	position: absolute;
	bottom:0px;
	display: block;
}

#author
{
	text-align: right;
}